<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/7c5f4389-49b8-4e94-830d-83c0a1af8242/resourcegroups/ZapScrapAPI20251030140906ResourceGroup/providers/Microsoft.Web/sites/ZapScrapAPI</ResourceId>
    <ResourceGroup>ZapScrapAPI20251030140906ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/7c5f4389-49b8-4e94-830d-83c0a1af8242/resourceGroups/ZapScrapAPI20251030140906ResourceGroup/providers/Microsoft.ApiManagement/service/ZapScrapAPIapi/apis/ZapScrapAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://zapscrapapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>f7b80e72-db0f-4d3e-9b65-c094e5d48796</ProjectGuid>
    <MSDeployServiceURL>zapscrapapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ZapScrapAPI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>